<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
<style>
       body{
        background: floralwhite;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
   h1 {
    font-size: 72px;
   }
   h1 span{
     color: brown;
     text-transform: uppercase;
   }
</style>

</head>
<body>
    <h1>Welcome <%= name %> </h1>
</body>
</html>