<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form method="post" action="/login">
      

    <div class="form">
      
      <div class="notification">
        <%= error %>
        
    </div>

        <div class="title">Sign In</div>
        <div class="subtitle">Let's create your account! <a href="/">Create</a></div>

        <div class="input-container ic2">
          <input id="email" class="input" type="email" name="email" placeholder=" " />
          <div class="cut"></div>
          <label for="email" class="placeholder">Email</label>
        </div>

        <div class="input-container ic2">
          <input id="password" class="input" name="password" type="password" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="password" class="placeholder">Password</label>
        </div>

        <button type="text" class="submit">Submit</button>
 </div>
    </form>   
      
</body>
</html>